<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title> SYSTEMS Home Page</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
	integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
	integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
	crossorigin="anonymous"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
	integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
	crossorigin="anonymous"></script>
	<style>
	 .mydiv
	 {
	 text-decoration:none;
	 height:100px;
	 width:100%;
	 background-color:#ffc766;
	 padding-top:25px;
	 font-size:30px;
	 color:#4d3000;
	 }
	</style>
</head>

<body>

<h2 class="text-center  mt-3 mb-3">Home Page</h2>

<hr>

	<div class="container">
	
		<div class="row mt-3 mb-3">
			<div class="col-sm-3 col-xs-6 col-md-4   text-center pt-3 pb-3" >
			<a th:href="@{/systems/viewStudent}" class="btn font-weight-bold mydiv" >View Student</a>
			</div>
			<div class="col-sm-3 col-xs-6 col-md-4 text-center pt-3 pb-3" >
				<a th:href="@{/systems/viewApplication}" class="btn font-weight-bold mydiv" >View Applications</a>
			</div>
			<div class="col-sm-3 col-xs-6 col-md-4 text-center pt-3 pb-3">
				<a th:href="@{/systems/addStudent} " class="btn font-weight-bold mydiv" >Add Student</a>
			</div>
			<div class="col-3">
				
			</div>
		</div>
	
	</div>
	
	


<hr>

<a th:href="@{/}">Back to Home Page</a>

</body>

</html>









